* {
    padding: 0;
    margin: 0;
}
body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.scp {
    height: 50px;
    padding-bottom: 10px;
    transition: 0.3s;
}

div {
    display: flex;
    align-items: center;
    margin: 5%;
}

h1 {
    transition: 0.3s;
    
}

h1:hover {
    color: white;
}

@media screen and (min-height:653px) and (min-width:280px) {
    div {
        margin: 10%;
    }
}
